# **Proyecto Final: Tópicos de Políticas Públicas**

Equipo:
 - Sebastian Stephan Dulong
 - Javier Nieto Merodio
 - Rodolfo Gloria
 - Guillermo Naranjo

## **Librerías y configuración**

In [1]:
# Librerías

import pandas as pd
import numpy as np

In [2]:
# Configura pandas para que muestre todas las columnas

pd.set_option('display.max_columns', None)

## **Descarga y tratamiento de los datos**

In [3]:
# Descarga de los datos
brazil_data = pd.read_csv("../Datos/Brazilian_Education_Panel_Databases.csv")

/var/folders/t_/fh0l2j4n2rz0fskmrkd8ltvm0000gn/T/ipykernel_6394/3991335361.py:2: DtypeWarning: Columns (5,7,8,9,10,14,18,19,20,21,50,55,71,76,81) have mixed types. Specify dtype option on import or set low_memory=False.
  brazil_data = pd.read_csv("../Datos/Brazilian_Education_Panel_Databases.csv")

In [13]:
brazil_data

,NU_ANO_CENSO,CO_MUNICIPIO,MUNIC,SIGLA,CO_UF,SCHOOLS_NU,SCHOOLS_FED_NU,SCHOOLS_ESTADUAL_NU,SCHOOLS_MUN_NU,SCHOOLS_PRIV_NU,SCHOOLS_FED_STUD,SCHOOLS_ESTADUAL_STUD,SCHOOLS_MUN_STUD,SCHOOLS_PRIV_STUD,SCHOOLS_URBAN_NU,SCHOOLS_RURAL_NU,SCHOOLS_URBAN_STUD,SCHOOLS_RURAL_STUD,SCHOOLS_NIVFUND_1_NU,SCHOOLS_NIVFUND_2_NU,SCHOOLS_EIGHTYEARS_NU,SCHOOLS_NINEYEARS_NU,SCHOOLS_EIGHTYEARS_STUD,SCHOOLS_NINEYEARS_STUD,MATFUND_NU,MATFUND_I_NU,MATFUND_T_NU,SCHOOLS_INTERNET_AVG,SCHOOLS_WATER_PUBLIC_AVG,SCHOOLS_WATER_AVG,SCHOOLS_ELECTR_PUB_AVG,SCHOOLS_SEWAGE_PUB_AVG,SCHOOLS_SEWAGE_AVG,PROFFUNDTOT_NU,PROFFUNDINC_PC,PROFFUNDCOMP_PC,PROFMED_PC,PROFSUP_PC,CLASSSIZE,CLASSSIZE_I,CLASSSIZE_T,STUDTEACH,RATE_APROV,RATE_APROV_I,RATE_APROV_T,RATE_FAILURE,RATE_FAILURE_I,RATE_FAILURE_T,RATE_ABANDON,RATE_ABANDON_I,RATE_ABANDON_T,RATE_TRANSFER,RATE_TRANSFER_I,RATE_TRANSFER_T,RATE_OVERAGE,RATE_OVERAGE_I,RATE_OVERAGE_T,PROVA_MEAN_PORT_I,PROVA_MEAN_PORT_T,PROVA_MEAN_MAT_I,PROVA_MEAN_MAT_T,CLASSSIZE_PUB,STUDTEACH_PUB,RATE_APROV_PUB,RATE_APROV_I_PUB,RATE_APROV_T_PUB,RATE_FAILURE_PUB,RATE_FAILURE_I_PUB,RATE_FAILURE_T_PUB,RATE_ABANDON_PUB,RATE_ABANDON_I_PUB,RATE_ABANDON_T_PUB,RATE_TRANSFER_PUB,RATE_TRANSFER_I_PUB,RATE_TRANSFER_T_PUB,RATE_OVERAGE_PUB,RATE_OVERAGE_I_PUB,RATE_OVERAGE_T_PUB,PROVA_MEAN_PORT_I_PUB,PROVA_MEAN_PORT_T_PUB,PROVA_MEAN_MAT_I_PUB,PROFFUNDTOT_NU_PUB,PROVA_MEAN_MAT_T_PUB,EDUCTEACH_PUB,EDUCTEACH_FEDERAL,EDUCTEACH_STATE,EDUCTEACH_MUN,PROVA_MEAN_PORT_I_STATE,PROVA_MEAN_PORT_T_STATE,PROVA_MEAN_MAT_I_STATE,PROVA_MEAN_MAT_T_STATE,PROVA_MEAN_PORT_I_MUN,PROVA_MEAN_PORT_T_MUN,PROVA_MEAN_MAT_I_MUN,PROVA_MEAN_MAT_T_MUN
0,1996,"1,100,015",ALTA FLORESTA D'OESTE,RO,NaN,128,0,8,119,1,0,"3,613","3,051",130,7,121,"3,716","3,078",127,7,NaN,NaN,NaN,NaN,"6,794","5,036","1,758",NaN,NaN,NaN,NaN,NaN,NaN,337,0.261128,0.172107,0.433234,0.133531,24.833692,NaN,NaN,22.704964,67.080006,65.144189,74.672390,16.791356,19.489456,8.649237,7.601654,11.154009,17.263407,8.526982,9.221337,5.308514,52.472770,NaN,NaN,NaN,NaN,NaN,NaN,25.001141,22.830887,66.815049,64.893674,74.288247,17.072538,19.840411,8.856562,7.742758,11.357672,17.941058,8.369653,8.997997,5.057084,53.286314,NaN,NaN,NaN,NaN,NaN,"122,988",NaN,10.155015,14.826087,11.671533,9.072917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1997,"1,100,015",ALTA FLORESTA D'OESTE,RO,NaN,94,0,8,85,1,0,"2,839","2,614",148,6,88,"2,940","2,661",94,7,NaN,NaN,NaN,NaN,"5,601","3,570","2,031",NaN,0.000000,1.000000,0.063830,0.000000,0.936170,287,0.000000,0.000000,0.000000,0.000000,25.083366,NaN,NaN,21.250908,71.110978,70.141915,75.763059,15.245371,16.496494,8.981472,6.946225,15.792133,12.675764,6.697425,8.128286,4.904316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.262045,21.381359,70.672316,69.521445,75.431640,15.584335,16.889994,9.307202,7.136286,16.242641,13.369556,6.607061,8.205963,4.343449,NaN,NaN,NaN,NaN,NaN,NaN,"108,150",NaN,NaN,14.555555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1998,"1,100,015",ALTA FLORESTA D'OESTE,RO,NaN,99,0,11,86,2,0,"3,021","2,976",230,6,93,"3,035","3,192",99,11,NaN,NaN,NaN,NaN,"6,227","3,909","2,318",NaN,0.000000,1.000000,0.070707,0.000000,0.969697,297,0.131313,0.239057,0.481481,0.148148,25.178527,NaN,NaN,23.833084,70.647780,70.898690,74.367529,13.490041,13.638061,9.181864,7.763352,18.221439,13.523163,8.098826,9.774342,5.641790,45.848723,122.78195,94.471235,NaN,NaN,NaN,NaN,25.462964,24.202150,70.573802,70.824099,73.998407,13.596338,13.773877,9.241698,7.853369,18.705920,13.848522,7.976491,9.709290,5.652257,47.140236,127.024046,96.805896,NaN,NaN,NaN,"90,085",NaN,10.395683,11.000000,10.990741,10.017647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1999,"1,100,015",ALTA FLORESTA D'OESTE,RO,NaN,97,0,11,84,2,0,"3,116","2,621",197,6,91,"3,120","2,814",97,12,NaN,NaN,NaN,NaN,"5,934","3,872","2,062",NaN,0.020619,0.969072,0.123711,0.000000,0.886598,362,0.082873,0.146409,0.505525,0.265193,24.567050,NaN,NaN,18.297680,69.648255,71.519813,74.226501,15.381079,14.053312,11.945413,5.318731,12.260288,9.913037,9.651935,11.237820,6.562953,43.090664,41.287557,50.809844,NaN,NaN,NaN,NaN,24.866691,18.443901,69.401825,71.312204,74.226501,15.686910,14.331602,11.945413,5.362995,12.448538,9.913037,9.548268,11.167048,6.562953,43.873104,41.985105,51.777890,NaN,NaN,NaN,"125,964",NaN,11.404692,13.000000,12.019608,10.904255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"1,100,015",ALTA FLORESTA D'OESTE,RO,NaN,96,0,11,83,2,0,"3,006","2,832",216,6,90,"3,000","3,054",96,12,NaN,NaN,NaN,NaN,"6,054","3,848","2,206",0.000000,0.020833,0.989583,0.135417,0.010417,1.000000,354,0.048023,0.141243,0.536723,0.274011,23.448201,NaN,NaN,19.703617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.478031,0.304947,0.466826,NaN,NaN,NaN,NaN,23.772097,19.964548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.253512,0.309379,0.473849,NaN,NaN,NaN,"112,075",NaN,11.498489,12.428572,11.962121,11.190955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108242,2011,"5,300,108",NaN,DF,53.0,"1,109",6,627,0,476,0,0,0,0,"1,030",79,0,0,0,0,480.0,743.0,0,0,0,0,0,0.895401,0.935278,0.989179,1.000000,0.000000,0.989179,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108243,2012,"5,300,108",NaN,DF,53.0,"1,113",10,619,0,484,0,0,0,0,"1,035",78,0,0,0,0,292.0,753.0,0,0,0,0,0,0.923573,0.937729,1.000000,1.000000,0.000000,1.000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108244,2013,"5,300,108",NaN,DF,53.0,"1,114",10,625,0,479,0,0,0,0,"1,036",78,0,0,0,0,254.0,822.0,0,0,0,0,0,0.935630,0.942186,1.000000,1.000000,0.000000,1.000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108245,2014,"5,300,108",NaN,DF,53.0,"1,150",10,625,0,515,0,0,0,0,"1,072",78,0,0,0,0,165.0,830.0,0,0,0,0,0,0.961370,0.947461,1.000000,1.000000,0.000000,1.000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108246,2015,"5,300,108",NaN,DF,53.0,"1,200",11,660,0,529,0,0,0,0,"1,121",79,0,0,0,0,NaN,NaN,NaN,NaN,0,0,0,0.962500,0.953333,1.000000,1.000000,0.000000,1.000000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Crear dataframe con descripciones de las columnas

In [8]:
data_description = brazil_data.isna().sum(axis = 0).to_frame() # Columna con número de NaNs

In [9]:
data_description.columns = ["Number of NaNs"]

In [11]:
data_description

                        Number of NaNs
NU_ANO_CENSO                         0
CO_MUNICIPIO                         0
MUNIC                            49832
SIGLA                                0
CO_UF                            58415
...                                ...
PROVA_MEAN_MAT_T_STATE          100542
PROVA_MEAN_PORT_I_MUN            98478
PROVA_MEAN_PORT_T_MUN            98478
PROVA_MEAN_MAT_I_MUN             98478
PROVA_MEAN_MAT_T_MUN            101652

[95 rows x 1 columns]

In [16]:
data_description["Data types"] = brazil_data.dtypes.values # Tipos de datos

In [17]:
data_description

                        Number of NaNs Data types
NU_ANO_CENSO                         0      int64
CO_MUNICIPIO                         0     object
MUNIC                            49832     object
SIGLA                                0     object
CO_UF                            58415    float64
...                                ...        ...
PROVA_MEAN_MAT_T_STATE          100542    float64
PROVA_MEAN_PORT_I_MUN            98478    float64
PROVA_MEAN_PORT_T_MUN            98478    float64
PROVA_MEAN_MAT_I_MUN             98478    float64
PROVA_MEAN_MAT_T_MUN            101652    float64

[95 rows x 2 columns]